#container {
	height: 500px;

	display: flex;
	justify-content: space-between;
	gap: 20px;

	background-color: darkred;
}

.item {
	width: 200px;
	height: 100px;

	background-color: blue;
}

#subcontainer {
	align-self: end;

	display: flex;
	gap: 3px;
}

.subitem {
	height: 20px;
	width: 20px;

	background-color: lightgreen;
}